doctype html
html
  head
    title= `Asset History - ${asset.assetName}`
    link(rel='stylesheet', href='/styles/style.css')
  body
   

      a(href='/assetHistory').btn.btn-secondary Back to Asset History  
      h1 Asset History

      h2 #{asset.assetName} (#{asset.assetNumber})

      if history.length
        table
          thead
            tr
              th Date
              th Action
              th Description
          tbody
            each record in history
              tr
                td= new Date(record.date).toLocaleDateString()
                td= record.action
                td= record.description
      else
        p No history available for this asset.

