doctype html
html
  head
    title Asset Management
    link(rel='stylesheet', href='/styles/style.css')
  body
    div.pageParentDiv
     div.sideBarSection
      div.sideBarHeadSec
        | KT Telematic 
      div.sideBarListDiv 
       ul.sidebarListUlstyle
        li: a(href='/').NonActiveList Home
        li: a(href='/assets').activeList Asset
        li: a(href='/assetCategories').NonActiveList Asset Category
        li: a(href='/assetHistory').NonActiveList Asset History
        li: a(href='/employees').NonActiveList Employee
        li: a(href='/assets/issue').NonActiveList Issue Asset
        li: a(href='/assets/return').NonActiveList Return Asset
        li: a(href='/assets/scrap').NonActiveList Scrap Asset
     div.pageRenderSection
      div
        div.ViewBtnSet
         a(href='/assets' class="BackBtn") Back
        form(action=`/assets/edit/${asset.id}` method='POST')
          div.form-group
            label(for='assetName') Asset Name
            input(type='text' name='assetName' value=asset.assetName required)
          div.form-group
            label(for='assetNumber') Asset Number
            input(type='text' name='assetNumber' value=asset.assetNumber required)
          div.form-group
            label(for='purchaseAmount') Purchase Price
            input(type='number' name='purchaseAmount' value=asset.purchaseAmount required)
          div.form-group
            label(for='branchName') Branch
            input(type='text' name='branchName' value=asset.branchName required)
          div.form-group
            label(for='assetCondition') Condition
            select(name='assetCondition')
              option(value='New' selected=asset.assetCondition == 'New') New
              option(value='Used' selected=asset.assetCondition == 'Used') Used
              option(value='Damaged' selected=asset.assetCondition == 'Damaged') Damaged
          div.form-group
            label(for='categoryId') Category
            select(name='categoryId' required)
              each category in categories
                option(value=category.id selected=asset.categoryId == category.id) #{category.categoryName}
          div.form-group
            button(type='submit' class='ViewHistoryBtn') Update Asset
