doctype html
html
  head
    title Asset List
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css')
  body
   div.pageParentDiv
     div.sideBarSection
      div.sideBarHeadSec
        | KT Telematic 
      div.sideBarListDiv 
       ul.sidebarListUlstyle
        li: a(href='/').NonActiveList Home
        li: a(href='/assets').activeList Asset
        li: a(href='/assetCategories').NonActiveList Asset Category
        li: a(href='/assetHistory').NonActiveList Asset History
        li: a(href='/employees').NonActiveList Employee
        li: a(href='/assets/issue').NonActiveList Issue Asset
        li: a(href='/assets/return').NonActiveList Return Asset
        li: a(href='/assets/scrap').NonActiveList Scrap Asset
     div.pageRenderSection

      div.addBtnSection
        a(href="/assets/add").AddBtn Add Asset
      div
        table.table.table-bordered#assetTable
            thead
              tr
                th ID
                th Asset Name
                th Asset No
                th Category
                th Purchase Amount
                th Branch Name
                th Status
                th Asset Condition
                th Assigned To
                th Scrapped
                th Return Reason
                th Actions
            tbody
              each asset in assets
                tr
                  td= asset.id
                  td= asset.assetName
                  td= asset.assetNumber
                  td= asset.AssetCategory ? asset.AssetCategory.categoryName : '—'
                  td= asset.purchaseAmount
                  td= asset.branchName
                  td= asset.status
                  td= asset.assetCondition
                  td= asset.Employee ? asset.Employee.employeeName : '—'
                  td= asset.isScrapped ? 'Yes' : 'No'
                  td= asset.returnReason || '—'
                  td.ActionSection
                    a.EditBtn(href=`/assets/edit/${asset.id}`) Edit
                    a.DeleteBtn(href=`/assets/delete/${asset.id}`) Delete

        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js')
        script.
          $(document).ready(function() {
            $('#assetTable').DataTable();
          });
