doctype html
html
  head
    title Asset Management
    link(rel='stylesheet', href='/styles/style.css')
  body

  
    div.pageParentDiv
     div.sideBarSection
      div.sideBarHeadSec
        | KT Telematic 
      div.sideBarListDiv 
       ul.sidebarListUlstyle
        li: a(href='/').activeList Home
        li: a(href='/assets').NonActiveList Asset
        li: a(href='/assetCategories').NonActiveList Asset Category
        li: a(href='/assetHistory').NonActiveList Asset History
        li: a(href='/employees').NonActiveList Employee
        li: a(href='/assets/issue').NonActiveList Issue Asset
        li: a(href='/assets/return').NonActiveList Return Asset
        li: a(href='/assets/scrap').NonActiveList Scrap Asset
     div.pageRenderSection
      span.tableTitle Stock View
      div.tableContainer
        table.table.table-bordered
          thead
            tr
              th Asset ID
              th Asset Name
              th Asset Number
              th Branch
              th Purchase Amount
              th Status
          tbody
            each asset in availableAssets
              tr
                td= asset.id
                td= asset.assetName
                td= asset.assetNumber
                td= asset.branchName
                td= asset.purchaseAmount
                td= asset.status

      span.tableTitle Branch Totals
      div.tableContainer
        table.table.table-bordered
          thead
            tr
              th Branch
              th Total Count
              th Total Value
          tbody
            each branch in Object.keys(branchTotals)
              tr
                td= branch
                td= branchTotals[branch].totalCount
                td= '$' + branchTotals[branch].totalValue.toFixed(2)

